/*Menü lenyílása*/
.dropdown {
  position: relative;
  display: inline-block;
}

/*Menü lenyíló tartalom*/
.dropdown-content {
  display: none;
  /*Eleinte rejtett tartalom*/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  /*Belső térköz*/
  /* A nagyobb z-indexű átfedő elemek lefedik a kisebb z-indexű elemeket*/
  z-index: 1;
  /*Beállítja egy elem z sorrendjét*/
}

/*Menü rámutatásnál lenyílik*/
.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  background-color: #B01E68;
}

a.nav-link {
  color: white !important;
}

#kereses {
  max-width: 45%;
}

#kereses button {
  max-height: 40px;
}


/*Gomb*/
.btn {
  background-color: #FFB400;
}


/*Címek, szövegek*/
h1 {
  color: #1A385A;
}

h2 {
  font-size: 20px;
}

h5 {
  color: #1A385A;
}

p {
  color: #1A385A;
  text-align: justify;
}


/*Top ajánlatok*/
.cards {
  display: grid;
  /*megadja az oszlopok számát és a szélességüket*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*Rugalmasság, igazodjon a rendelkezésre álló helyhez*/
  gap: 2rem;
  /*Sorok és oszlopok közötti térköz nagysága*/
  margin: 4rem 5vw;
  /*Távolság és belső térköz*/
  padding: 0;
  /*Távolság és belső térköz*/
  list-style-type: none;
}

.kartya {
  position: relative;
  /*Relatív lesz a szülőelemhez képest*/
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.kartya:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
}

.kartya:hover .card__header {
  transform: translateY(0);
}

.card__title {
  margin: 0 0 .3em;
  color: white;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

:root {
  --surface-color: #ff2000;
  --curve: 40;
}


/*Utak kártyák*/
.szoveg {
  text-align: right;
}

.card-title {
  text-align: center;
}

.card-title2 {
  text-align: left;
}

.card-title3 {
  text-align: right;
}

.ikon {
  width: 25px;
  height: 25px;
}

.repulo {
  float: right;
}



/*Főoldal modal*/
.modalok {
  cursor: pointer;
}


/*Tabok a nyaralás oldalon*/
.main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.input_tab {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

main input:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #B01E68;
  border-bottom: 1px solid #fff;

}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5,
#tab6:checked~#content6,
#tab7:checked~#content7 {
  display: block;
}

@media screen and (max-width: 650px) {
  main label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}


/*Rólunk oldal*/

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}



/*Bejelentkezés/Regisztráció*/
.login-box {
  position: relative;
  margin: 10px auto;
  width: 400px;
  height: 290px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  float: left;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.33);
}

.lb-header {
  position: relative;
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 28px;
}

.lb-header a {
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.lb-header .active {
  color: #9f0278;
  font-size: 18px;
}

.social-login {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.social-login a {
  position: relative;
  float: left;
  width: calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align: center;
}

.social-login a i {
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}

.social-login a:first-child {
  background-color: #49639F;
}

.social-login a:last-child {
  background-color: #DF4A32;
}

.email-login,
.email-signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 20px;
  text-align: center;
}

.u-form-group {
  width: 100%;
  margin-bottom: 10px;
}

.u-form-group input[type="email"],
.u-form-group input[type="password"] {
  width: calc(50% - 22px);
  height: 45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
 
  font-size: 0.8rem;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.u-form-group input:focus {
  border-color: #358efb;
}

.u-form-group button {
  width: 50%;
  background-color: #9f0278;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}

.forgot-password {
  width: 50%;
  text-align: left;
  text-decoration: underline;
  font-size: 0.75rem;
}

h3 {
  font-weight: bold;
  color: #fff;

}

.social {
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.btn2 {
  border-radius: 20px;
  border: 1px;
  background-color: #FFB400;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  font-size: 12px;

}

.btn2:active {
  transform: scale(0.95);
  border-radius: 20px;
}

.btn2:focus {
  outline: none;
  border-radius: 20px;
}

.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
  border-radius: 20px;
  padding: 12px 45px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 100ms ease-in;
}

.login {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: auto;
  height: 100%;
  width: auto;
  text-align: center;


}

.beviteli {
  border-radius: 10px;
  border-color: black;
  padding: 4px;
  margin: 10px 0;
  font-size: 14px;


}

.boritokep {
  background-size: cover;
  width: 100%;

}

.bejelentkezes {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  width: 840px;
  max-width: 100%;
  min-height: 480px;
  padding-top: 0 70px;
}

.form-bejelentkezes {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  background-color: #FFFFFF;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 100%;
  text-align: center;


}

.sign-in-bejelentkezes {
  left: 0;
  width: 50%;
  z-index: 2;
}

.bejelentkezes.right-panel-active .sign-in-bejelentkezes {
  transform: translateX(100%);
}

.sign-up-bejelentkezes {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.bejelentkezes.right-panel-active .sign-up-bejelentkezes {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-bejelentkezes {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.bejelentkezes.right-panel-active .overlay-bejelentkezes {
  transform: translateX(-100%);
}

.overlay {
  background: url("../img/fooldal/tajkep-min.jpg");


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.bejelentkezes.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.bejelentkezes.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.bejelentkezes.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-bejelentkezes {
  margin: 20px 0;


}

.social-bejelentkezes a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}


/*Bejelntkezés és Regisztáció középre igazítása*/
.block {
  justify-content: center;
  align-items: center;
  display: flex;
}

#bejelentkezes {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}



/*Foglalás*/
#foglalas h2 {
  color: #1A385A;
}

#foglalas h6 {
  color: #f0a500;
}

#foglalas input,
#foglalas input[type="radio"]+label,
#foglalas input[type="checkbox"]+label:before,
#foglalas select option,
#foglalas select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#foglalas input:focus {
  outline: 0;
  border-color: #bd8200;
}

#foglalas input:focus+.input-icon i {
  color: #f0a500;
}

#foglalas input:focus+.input-icon:after {
  border-right-color: #f0a500;
}

#foglalas input[type="radio"] {
  display: none;
}

#foglalas input[type="radio"]+label,
#foglalas select {
  display: inline-block;
  width: 33%;
  text-align: center;
  border-radius: 0;
}

#foglalas input[type="radio"]+label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#foglalas input[type="radio"]+label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#foglalas input[type="radio"]+label i {
  padding-right: 0.4em;
}

#foglalas input[type="radio"]:checked+label,
#foglalas input:checked+label:before,
#foglalas select:focus,
#foglalas select:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
}

#foglalas input[type="checkbox"] {
  display: none;
}

#foglalas input[type="checkbox"]+label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

#foglalas input[type="checkbox"]+label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}

#foglalas input[type="checkbox"]+label:after {
  position: absolute;

  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}

#foglalas input:checked+label:after {
  opacity: 1;
}

#foglalas select {
  height: 3.4em;
  line-height: 2;
}

#foglalas select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#foglalas select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#foglalas select:focus,
#foglalas select:active {
  outline: 0;
}

#foglalas select option {
  background-color: #f0a500;
  color: #fff;
}

#foglalas .input-group {
  margin-bottom: 1em;
  zoom: 1;
}

#foglalas .input-group:before,
#foglalas .input-group:after {
  content: "";
  display: table;
}

#foglalas .input-group:after {
  clear: both;
}

#foglalas .input-group-icon {
  position: relative;
}

#foglalas .input-group-icon input {
  padding-left: 4.4em;
}

#foglalas .input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

#foglalas .input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#foglalas .input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#foglalas .row {
  zoom: 1;
}

#foglalas .row:before,
.row:after {
  content: "";
  display: table;
}

#foglalas .row:after {
  clear: both;
}

#foglalas .col-half {

  padding-right: 10px;



}

#foglalas .col-half:last-of-type {
  padding-right: 0;
}

#foglalas.col-third {

  padding-right: 10px;
  width: 30%;



}

#foglalas .col-third:last-of-type {
  padding-right: 0;
}

@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.foglalas_form {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.ido {
  min-height: 40px;
}




.log-picture {
  width: 30px;
  height: 30px;
}



/*Lábléc*/
.footer-distributed {
  background: #B01E68 !important;
  box-sizing: border-box;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #FFB400;
  color: #ffffff;
  font-size: 25px;
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #FFB400;
  border-radius: 2px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;

    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

.footer-icons li {
  list-style: none;
  color: white;
}




/*Blog*/
.blog *,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.kep {
  height: 300px;
}

.kep2 {
  height: 600px;
}

a {

  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site__wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.site__info {
  clear: both;
  display: block;
  font-variant: small-caps;
  letter-spacing: 2px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.grid {
  float: none;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;

}

@media screen and (min-width: 40.063em) {
  .grid {
    float: left;
    width: 33.333%;
  }
}

.card2__image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  min-height: 240px;
  overflow: hidden;
  position: relative;
}

.card2__image>img {
  display: block;
  margin-bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.card2__image:hover>img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card2__title {
  color: white;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.75em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card2__title:hover {

  text-decoration: none;
  color: black;
}

.card2__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card2__overlay--indigo {
  background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgba(92, 107, 192, 0.8));
  z-index: 2;
}

.card2__overlay--blue {
  background-image: linear-gradient(to bottom, rgba(41, 182, 246, 0.1), rgba(41, 182, 246, 0.8));
  z-index: 2;
}

.card2__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  z-index: 3;
}

.card2__meta {
  margin: 0;
  margin-right: -1em;
  margin-bottom: 0.75em;
}

.card2__meta.card2__meta--last {
  margin-bottom: 0;
}

.card2__meta li {
  color: #f8f8f8;
  display: inline;
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 1em;
  font-size: 0.85em;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.card2__meta li:not(:last-child):after {
  content: "\25cf";
  font-style: normal;
  position: relative;
  color: rgba(255, 255, 255, 0.25);
  right: -0.6em;
}

.card2__meta li>a {
  color: #f8f8f8;
}

#wellneskartya .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#wellneskartya .card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

#wellneskartya .card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#wellneskartya .card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  position: relative;
}

#wellneskartya .card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

#wellneskartya .card:hover .card-desc {
  opacity: 1;
  height: 300px;
  width: 300px;
}



.logonk{
width:250px;
height: 55px;

}
.lablec_logo{
  width: 300px;
  height: 100px;
}