.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

nav{
    background-color: #B01E68;
}
a.nav-link{
    color: white !important;
}
  
.btn{
    background-color: #FFB400;
}

footer .logo {
    width: 74px;
    height: 80px;
    background-image: url(../media/image/logo/keri.webp);
}
footer i {
    width: 16px !important;
}
.fs-075 {
    font-size:0.75rem  !important;
}

h1{
    color: #1A385A;
}
h2{
    font-size: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}
  
.kartya {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}
  
.card__image {      
    width: 100%;
    height: auto;
}
.card-img-top{
    width: 100%;
    height: auto;
    
}
  
.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
}
  
.kartya:hover .card__overlay {
    transform: translateY(0);
}
  
.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    
}
  
.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
}
  
.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       
  
.kartya:hover .card__header {
    transform: translateY(0);
}
  
  
.card__title {
    margin: 0 0 .3em;
    color: white;
}
  
  
.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}    


:root {
    --surface-color: #ff2000;
    --curve: 40;
}
  


* {
    box-sizing: border-box;
  }  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 21%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  
  .column img:hover {
    opacity: 1;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container2 {
    position: relative;
    display: none;
  }
  .container3 {
    position: relative;
    display: none;
  }
  .container4 {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .bs-callout-warning {
    border-left-color: orange !important;
  }
  .bs-callout {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px;
  }
  .destination-description {
    color: #004990;
    font-size: 1.2rem;
  }

  .szoveg{
    text-align: right;
  }
  .card-title{
    text-align: center;
}
.card-title2{
    text-align: left;
}
.card-title3{
    text-align: right;
}
.ikon{
   width: 25px;
   height: 25px;
}
.repulo{
    float: right;
}

.text{
float: right;
text-align: justify;
position:right;
margin: right;
padding: right;
display: inline-block;
width: 600px;

}

.adatok{
  border: 1px solid black;
}

.thumbex {
  overflow: hidden;
  outline: 2px solid white;
  outline-offset: -15px;
  box-shadow: 5px 10px 40px 5px rgba(0, 0, 0, 0.5);
}
.thumbex .thumbnail {
  overflow: hidden;
  height: 236px;
  position: relative;
  opacity: 0.88;
  backface-visibility: hidden;
  transition: all 0.4s ease-out;
}
.thumbex .thumbnail img {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.thumbex .thumbnail span {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  right: 0;
  background: #FFB400;
 

  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.2px;
  transition: all 0.3s ease-out;
}
.thumbex .thumbnail:hover {
  backface-visibility: hidden;
  transform: scale(1.15, 1.15);
  opacity: 1;
}
.thumbex .thumbnail:hover span {
  opacity: 0;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

