<!--Banner-->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../MoonLightTravel.github.io/img/banner1-min.jpg" class="d-block" alt="Banner" title="Banner">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../MoonLightTravel.github.io/img/banner2-min.jpg" class="d-block" alt="Banner" title="Banner">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../MoonLightTravel.github.io/img/banner3-min.jpg" class="d-block" alt="Banner" title="Banner">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!--Menü-->
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Moonlight Travel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" ui-sref="home">Kezdőlap</a>
          </li>
          <li class='nav-item dropdown'>
            <a class='nav-link dropdown-toggle dropbtn' role='button' data-bs-toggle='dropdown' aria-expanded='false'>
              Utak
            </a>
            <ul class='dropdown-menu dropdown-content'>
              <li><a class='dropdown-item' ui-sref="ut({ut:'Európa'})">Európa</a></li>
              <li><a class='dropdown-item' ui-sref="ut({ut:'Amerika'})">Amerika</a></li>
              <li><a class='dropdown-item' ui-sref="ut({ut:'Ázsia'})">Ázsia</a></li>
              <li><a class='dropdown-item' ui-sref="ut({ut:'Afrika'})">Afrika</a></li>
              <li><a class='dropdown-item' ui-sref="ut({ut:'Ausztrália'})">Ausztrália</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="foglalasok">Foglalások</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ui-sref="rolunk">Rólunk</a>
          </li>
        </ul>
     
        <form class="d-flex" ng-if="state.id=='home'">
         
          <input class="form-control me-2" type="search" 
                 placeholder="Keresés" ng-model="place">
          <button class='btn' type='button' ng-click="searchForPlace(place)">Keresés</button>
        </form>
        <button class="btn mx-2" ng-click="scrollTo('bejelentkezes', true)">Bejelentkezés\Regisztráció</button>
        
        <div class="login-kep mx-1"> <img src="../MoonLightTravel.github.io/img/ikonok/ember.svg"  class="log-picture" alt=""></div>
        <div class="text-rigth" class="nev">{{user.nev}}</div>
        <button  class ="btn mx-2" id ="logout" ng-click="logout()">Kijelentkezés<i class='fa fa-sign-out mx-1' style='font-size:12px'></i></button>
      </div>
    </div>
  </nav>
  
  
  
  