<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
    <div class='row mt-5' ng-if="data.length">
        <h1 class="text-center mt-5">{{data[0].nev}}</h1>
    </div>
   
    <div class="row" ng-if="data.length">
        <div class="column">
            <img ng-src="./img/{{data[0].utak_img}}" style="width:100%" onclick="myFunction(this);">
          </div>
        <div class="column" ng-repeat="kepek in data track by $index">
          <img ng-src="./img/{{kepek.neve}}" style="width:100%" onclick="myFunction(this);">
        </div>
        </div>

      <div class="container2">
        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
        <img id="expandedImg" style="width:55%">
        <div id="imgtext"></div>
      </div>
    
    
     
     
   
</div> 
<script>
    function initGallery() {
      var firstImg = document.querySelector(".column img");
      myFunction(firstImg);
    }

    function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImg");
      var imgText = document.getElementById("imgtext");
      expandImg.src = imgs.src;
      imgText.innerHTML = imgs.alt;
      expandImg.parentElement.style.display = "block";
    }
    
    // az első kép betöltése
    initGallery();
  </script>

 <!-- Footer -->
 <footer id="availability"
 class="container-fluid bg-light text-muted"
 ng-include src="'../MoonLightTravel.github.io/html/footer.html'"></footer>