<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class='row mt-5' ng-if="data.length">
    <h1 class="text-center mt-5">{{data[0].nev}}</h1>
  </div>

<!--Képgaléria-->
  <div class="row mt-5" ng-if="data.length">
    <div class="column">
      <img class="img-fluid" ng-src="./img/{{data[0].utak_img}}" style="width:100%" onload="initGallery()" onclick="myFunction(this);">
    </div>
    <div class="column" 
         ng-repeat="nyaralas in data track by $index"
         ng-if="!nyaralas.neve.includes('.svg')">
      <img class="img-fluid" ng-src="./img/{{nyaralas.neve}}" style="width:100%" onclick="myFunction(this);">
    </div>
  </div>

  <div class="container2">
    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
    <img id="expandedImg" style="width:55%" class="img-fluid">
    <div id="imgtext"></div>
  </div>

<!--Tabok-->
  <div class="row col-xl-6 col-md-6 mt-2" ng-if="data.length">
    <main>
      <input id="tab1" type="radio" name="tabs" checked class="input_tab">
      <label for="tab1"><img src="../MoonLightTravel.github.io/img/ikonok/tartozkodasihely.svg" alt="ikon" title="ikon" class="ikon mx-2">Térkép</label>
      <input id="tab2" type="radio" name="tabs" class="input_tab">
      <label for="tab2"><img src="../MoonLightTravel.github.io/img/ikonok/leiras.svg" alt="ikon" title="ikon" class="ikon mx-2">Leírás</label>
      <input id="tab3" type="radio" name="tabs" class="input_tab">
      <label for="tab3"><img src="../MoonLightTravel.github.io/img/ikonok/repulo.svg" alt="ikon" title="ikon" class="ikon mx-2">Közlekedés</label>
    <!--Térkép-->
      <section id="content1">
        <p></p>
        <p></p>
      </section>
    <!--Leírás-->
      <section id="content2">
        <h5>Látványosságok, leírás</h5>
        <p class="mx-5 mt-3">{{data[0].leiras}}</p>
        <h5>A nyaraláshoz szervezett programok</h5>
        <p class="mx-5 mt-3">{{data[0].program}}</p>
      </section>
    <!--Közlekedés-->
      <section id="content3">
        <h5>Az utazás ideje átlagosan</h5>
        <p class="mx-3 mt-3"><img ng-src="./img/ikonok/{{data[0].kozlekedesi_eszkoz_img}}" alt="ikon" title="ikon" class="ikon mx-3">{{data[0].ido}}<p>
        <h5>Az indulás helye</h5>
        <p class="mx-3 mt-3">{{data[0].indulasi_hely}}</P>
      </section>
    </main>
  </div>

<!--Szállás kép-->
  <div class="row mt-5">
    <div class="col-xl-5 col-md-5" ng-if="data.length">
      <img ng-src="./img/{{data[0].szallas_img}}" alt="Szállás" title="Szállás" class="img-fluid">
    </div>
    <div class="col-xl-4 col-md-4" ng-if="data.length">
      <img src="./img/ikonok/star.svg" class="ikon" alt="ikon" title="ikon" ng-repeat="x in [].constructor(data[0].tipus) track by $index">
      <p class="fw-bold mx-1">{{data[0].megnev}}</p>
      <p class="fw-bold mx-1"><img src="./img/ikonok/tartozkodasihely.svg" class="ikon" alt="Elhelyezkedés">{{data[0].elhelyezkedes}}</p>
    </div>
  </div>

<!--Tabok-->
  <div class="row col-xl-7 col-md-7 mt-2" ng-if="data.length">
    <main>
      <input id="tab4" type="radio" name="tabs" checked class="input_tab">
      <label for="tab4"><img src="../MoonLightTravel.github.io/img/ikonok/tartozkodasihely.svg" alt="ikon" class="ikon mx-2">Térkép</label>
      <input id="tab5" type="radio" name="tabs" class="input_tab">
      <label for="tab5"><img src="../MoonLightTravel.github.io/img/ikonok/leiras.svg" alt="ikon" class="ikon mx-2">Leírás</label>
      <input id="tab6" type="radio" name="tabs" class="input_tab">
      <label for="tab6"><img src="../MoonLightTravel.github.io/img/ikonok/ellatas.svg" alt="ikon" class="ikon mx-2">Ellátás</label>
      <input id="tab7" type="radio" name="tabs" class="input_tab">
      <label for="tab7"><img src="../MoonLightTravel.github.io/img/ikonok/szolgaltatas.svg" alt="ikon" class="ikon mx-2">Szolgáltatások</label>
    <!--Térkép-->
      <section id="content4">
        <p></p>
        <p></p>
      </section>
    <!--Leírás-->
      <section id="content5">
        <h5>A szállásról röviden</h5>
        <p class="mx-3">{{data[0].leiras2}}</p>
      </section>
    <!--Ellátás-->
      <section id="content6">
        <h5>Az ellátás típusa</h5>
        <p class="mx-3">{{data[0].ellatas}}</p>
        <p class="mx-3">{{data[0].ellatas_leiras}}</p>
      </section>
    <!--Szolgáltatás-->
      <section id="content7">
          <button disabled ng-repeat="nyaralas in data" ng-if="nyaralas.neve.includes('.svg')" class="mx-2 border border-grey mt-2"><p class="mt-3 mx-1 text-black fw-bold"><img  ng-src="./img/ikonok/{{nyaralas.neve}}" alt="ikon" class="ikon mx-2">{{nyaralas.neve2}}</p></button>
      </section>
    </main>
  </div>

<!--Kalkuláció-->
  <div class="row mt-5 kalkulacio col-xl-5 col-md-5">
    <div ng-if="data.length">
      <h5 class="text-center mt-3">Számolja ki az árat előre! - Kalkulátor</h5>
      <h6 class="mt-3">Az útnak az ára</h6>
      <p class="fw-bold">{{data[0].varos}}<span class="mx-5 fw-bold">{{data[0].ut_ar}} Ft</span></p>
      <h6 class="mt-3">A szállás ára</h6>
      <p class="fw-bold">{{data[0].megnev}}<span class="mx-3 fw-bold">{{data[0].szallas_ar}}/ éjszaka</span></p>
      <button class="btn float-end my-2">Kalkuláció</button>
    </div>
  </div>
  
</div> 

<script>
  function initGallery() {
    var firstImg = document.querySelector(".column img");
    myFunction(firstImg);
  }

  function myFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
  }
    
  // az első kép betöltése
  initGallery();
</script>

 <!-- Footer -->
 <footer id="availability"
 class="container-fluid bg-light text-muted mt-5"
 ng-include src="'../MoonLightTravel.github.io/html/footer.html'"></footer>