<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class="row mt-5 text-center">
    <h1>Floorball</h1>
  </div>
  <div class="row mt-5">
    <!--Képgaléria-->
    <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
      <img src="../MoonLightTravel.github.io/img/blog/floorball1.jpg" alt="Blog" title="Blog" id="nagy_kep"
        class="img-fluid clearfix">
      <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
        <img src="../MoonLightTravel.github.io/img/blog/floorball2.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/floorball3.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/floorball4.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/floorball1.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
      </div>
    </div>
    <!--Leírás-->
    <div class="col-12 col-md-4 mt-2">
      <p>Két nemzet is a saját találmányának tartja ezt a játékot. Az 1960-as évek végén az Egyesült Államokban már
        játszották a floorhockey nevű játékot (a mostaniakhoz hasonló ütőkkel ). Svédországban is kitaláltak egy nagyon
        hasonló játékot, amit innebandynak neveztek el, Czitrom András személyében magyar is volt a kigondolók között.
        Céljuk az volt, hogy a hoki agresszivitásától tartózkodók számára, egy legalább ugyanolyan élvezetes, ám sokkal
        tisztább játékot hozzanak létre, ami tornateremben játszható. A svéd szövetség 1981-ben alakult meg, a
        játékszabályokat is ekkor rögzítették, a floorball név a Nemzetközi Floorball Szövetség (International Floorball
        Federation, IFF) megalakulásától, 1986-tól használatos.</p>
      <p>Az első Floorball Európa-bajnokságot férfiak részére 1994-ben Finnországban, nők részére 1995-ben Svájcban
        rendezték, az első világbajnokságot férfiak részére 1996-ban Svédországban, nők részére 1997-ben Finnországban
        tartották.</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="availability" ng-include src="'../MoonLightTravel.github.io/html/footer.html'">
</footer>