<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class="row mt-5 text-center">
    <h1>Srí Lanka</h1>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
      <!--Képgaléria-->
      <img src="../MoonLightTravel.github.io/img/blog/srilanka1.jpg" alt="Blog" title="Blog" id="nagy_kep"
        class="img-fluid clearfix">
      <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
        <img src="../MoonLightTravel.github.io/img/blog/srilanka2.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/srilanka3.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/srilanka4.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/srilanka1.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
      </div>
    </div>
    <!--Leírás-->
    <div class="col-12 col-md-4 mt-2">
      <p><i>Látogasson el ön is Srí Lankára és fedezze fel a az India-óceánban elterülő, könnycsepp alakú kis
          szigetet!</i></p>
      <p>Egyike a Föld legegzotikusabb helyeinek,egy olyan ország, mely egyaránt nyűgözi le látogatóit természeti
        szépségeivel és változatos építészeti emlékeivel. Az egykori gyarmati időszak európai épületeivel, ősi buddhista
        műemlékekkel, valamint szingaléz királyi palotákka</p>
      <br>
      <b>Láttnivalók: </b>
      <li>Pinnawala Elefántrezervátum</li>
      <li>Nuwara Eliya ( tea ültetvény)</li>
      <li>Arugam-öböl (keleti tengerpart legdélebbi fürdőhelye)</li>
      <li>Polonnaruwa (egykori főváros)</li>
      <li>Dambulla sziklakolostor(barlangszentélyek)</li>
      <li>Peradeniya Botanikus Kert</li>
      <li>Galle(kikötőváros)</li>
      <br>
      <b>Megközelítés :</b> Repülő
      <a ui-sref="ut({ut:'Ázsia'})">
        <button type='submit' class='btn mt-5'>Megnézem az ázsiai utak között</button>
      </a>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <h1>Zanzibár</h1>
  </div>
  <div class="row mt-5">
    <!--Képgaléria-->
    <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
      <img src="../MoonLightTravel.github.io/img/blog/thaifold.jpg" alt="Blog" title="Blog" id="nagy_kep2"
        class="img-fluid clearfix">
      <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
        <img src="../MoonLightTravel.github.io/img/blog/thaifold2.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit2($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/thaifold3.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit2($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/thaifold4.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit2($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/thaifold.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit2($event.target)" class="mt-1 mx-1">
      </div>
    </div>
    <!--Leírás-->
    <div class="col-12 col-md-4 mt-2">
      <p><i>Látogasson el Zanzibár egzotikus partjaira!</i></p>
      <p>Egyike a Föld legegzotikusabb helyeinek,egy olyan ország, mely egyaránt nyűgözi le látogatóit természeti
        szépségeivel és változatos építészeti emlékeivel. Az egykori gyarmati időszak európai épületeivel, ősi buddhista
        műemlékekkel, valamint szingaléz királyi palotákka</p>
      <br>
      <b>Láttnivalók: </b>
      <li>Pinnawala Elefántrezervátum</li>
      <li>Nuwara Eliya ( tea ültetvény)</li>
      <li>Arugam-öböl (keleti tengerpart legdélebbi fürdőhelye)</li>
      <li>Polonnaruwa (egykori főváros)</li>
      <li>Dambulla sziklakolostor(barlangszentélyek)</li>
      <li>Peradeniya Botanikus Kert</li>
      <li>Galle(kikötőváros)</li>
      <br>
      <b>Megközelítés :</b> Repülő
      <a ui-sref="ut({ut:'Afrika'})">
        <button type='submit' class='btn mt-5'>Megnézem az afrikai utak között</button>
      </a>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <h1>Thaiföld</h1>
  </div>
  <div class="row mt-5">
    <!--Képgaléria-->
    <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
      <img src="../MoonLightTravel.github.io/img/blog/zanzibar.jpg" alt="Blog" title="Blog" id="nagy_kep3"
        class="img-fluid clearfix">
      <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
        <img src="../MoonLightTravel.github.io/img/blog/zanzibar2.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit3($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/zanzibar3.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit3($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/zanzibar4.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit3($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/zanzibar.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit3($event.target)" class="mt-1 mx-1">
      </div>
    </div>
    <!--Leírás-->
    <div class="col-12 col-md-4 mt-2">
      <p><i>Látogasson el Thaiföldre , számtalan láttnivaló és kikapcsolódás várja önt és családját !</i></p>
      <p>Thaiföld vagy hivatalosan a Thaiföldi Királyság független alkotmányos monarchia Délkelet-Ázsiában, az
        Indokínai-félszigeten. Keletről Laosz és Kambodzsa, délről Malajzia és a Thai-öböl, nyugatról az Andamán-tenger
        és Mianmar határolja.
        Thaiföld csupa misztikum, ahol szikrázó napsütés, ősi műemlékek, arany templomok, buddhista szerzetesek, nyüzsgő
        piacok, a forgalomban szlalomozó tuk tuk-ok, felhőkarcolók, korallzátonyok, homokos tengerpartok, vízesések, és
        még számtalan életre szóló élményt ígérő látnivaló összpontosul egy helyen. Az aktív programok után érdemes
        megpihenni az ország pálmafákkal tűzdelt tengerpartjainak egyikén, ahol kényeztető thai masszázzsal lazíthatjuk
        el fáradt tagjainkat</p>
      <br>
      <b>Láttnivalók: </b>
      <li>Pinnawala Elefántrezervátum</li>
      <li>Nuwara Eliya ( tea ültetvény)</li>
      <li>Arugam-öböl (keleti tengerpart legdélebbi fürdőhelye)</li>
      <li>Polonnaruwa (egykori főváros)</li>
      <li>Dambulla sziklakolostor(barlangszentélyek)</li>
      <li>Peradeniya Botanikus Kert</li>
      <li>Galle(kikötőváros)</li>
      <br>
      <b>Megközelítés :</b> Repülő
      <a ui-sref="ut({ut:'Ázsia'})">
        <button type='submit' class='btn mt-5'>Megnézem az ázsiai utak között</button>
      </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="availability" ng-include src="'../MoonLightTravel.github.io/html/footer.html'">
</footer>