<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class="row mt-5 text-center">
    <h1>Tengerparti ajánlatok</h1>
  </div>
  <div class="row mt-5">
    <!--Képgaléria-->
    <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
      <img src="../MoonLightTravel.github.io/img/blog/spanyol_tenger1.jpg" alt="Blog" title="Blog" id="nagy_kep"
        class="img-fluid clearfix">
      <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
        <img src="../MoonLightTravel.github.io/img/blog/spanyol_tenger2.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/spanyol_tenger3.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/spanyol_tenger4.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/spanyol_tenger1.jpg" alt="Blog" title="Blog" width="134px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
      </div>
    </div>

    <!--Leírás-->
    <div class="col-12 col-md-4 mt-2">
      <p><i>Spanyolország egyik legnepszerűbb úti cél</i></p>
      <p>Spanyolország 10 legszebb tengerpartja: </p>
      <li>Cala d’Hort, Ibiza</li>
      <li>La Concha, San Sebastian</li>
      <li>Es Trenc, Mallorca</li>
      <li>Playa de Aiguablava, Costa Brava</li>
      <li>Corralejo, Fuerteventura</li>
      <li>Las Salinas, Ibiza</li>
      <li>Papagayo, Lanzarote</li>
      <li>Cala Comtessa, Mallorca</li>
      <li>Torremolinos, Costa del Sol</li>
      <li>La Barrosa, Cadíz</li>
      <br>
      <br>
    </div>
  </div>
</div>

<!-- Footer -->
<footer id="availability" ng-include src="'../MoonLightTravel.github.io/html/footer.html'">
</footer>