<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class="row" ng-if="data.length">
    <h1 class="text-center mt-5">{{data[0].kontinens}}</h1>
  </div>
  <div class='row mt-2'>
    <div class='col-12 col-md-4' ng-repeat="ut in data">
      <div class='card my-3'>
        <img ng-src="./img/utak/{{ut.utak_img}}">
        <div class='card-body'>
          <h5 class='card-title'>{{ut.nev}}</h5>
          <h5 class='card-title'>{{ut.megnev}}<img src="./img/ikonok/hotel.svg" class="ikon mx-1"></h5> 
          <img src="./img/ikonok/star.svg" class="ikon" ng-repeat="x in [].constructor(ut.tipus) track by $index">
          <img ng-src="./img/ikonok/{{ut.kozlekedesi_eszkoz_img}}" class="ikon mx-5 float-end">
          <br>
          <br>
          <p class='card-title2'>{{ut.idoszak}}<span class="mx-5 float-end">{{ut.ut_ar}}Ft</span></p> 
          <br>
          <a ui-sref="nyaralas({nyaralas:'{{ut.varos}}', ut_id: {{ut.ut_id}}})">
            <button type='submit' class='btn'>Tovább>></button>
          </a>
          <a class="kedvenc">
            <button type='submit' class='btn float-end'>Kedvenc<img src="./img/ikonok/sziv.svg" class="sziv m-1"></button>
          </a>
         
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- Footer -->
 <footer ng-include src="'../MoonLightTravel.github.io/html/footer.html'"></footer>

 

 

  