
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class="row mt-5 text-center">
    <h1>Madrid városlátogatás</h1>
  </div>
    <div class="row mt-5">
      
      <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
        <img src="../MoonLightTravel.github.io/img/blog/madrid1.jpg" alt="Blog" title="Blog" id="nagy_kep" class="img-fluid clearfix">
        
        <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
          <img src="../MoonLightTravel.github.io/img/blog/madrid2.jpg" alt="Blog" title="Blog" width="134px" ng-click="nagyit($event.target)"  class="mt-1 mx-1">
          <img src="../MoonLightTravel.github.io/img/blog/madrid3.jpg" alt="Blog" title="Blog" width="134px" ng-click="nagyit($event.target)"  class="mt-1 mx-1">
          <img src="../MoonLightTravel.github.io/img/blog/madrid4.jpg" alt="Blog" title="Blog" width="134px" ng-click="nagyit($event.target)"  class="mt-1 mx-1">
          <img src="../MoonLightTravel.github.io/img/blog/madrid1.jpg" alt="Blog" title="Blog" width="134px" ng-click="nagyit($event.target)"  class="mt-1 mx-1">
        </div>
  
      </div>
  
  
  <div class="col-12 col-md-4 mt-2">
    <p><i>4 napos városlátogatás Madridban ,tarts te is velünk!</i></p>
    <p>Csoportos kirándulás , magyar idegenvezetővel</p>
    <p> 1. nap: Utazás repülővel Budapestről. Esti órákban érkezés majd a Puerta del Sol sétányon éjszakai séta.</p>
    <p> 2.nap: Királyi palota, Plaza Major,Parque del Buen Retiro megtekintése </p>
    <p> 3.nap: Séta az óvárosban ,Toledo. Santo Tomé templom megtekintése </p>
    <p> 4.nap: Ellátogatás az Elesettek völgyébe </p>
    <p> 5.nap: Vissza utazás</p>
    <a ui-sref="ut({ut:'Európa'})">
      <button type='submit' class='btn mt-5'>Megnézem az európai utak között</button>
    </a>
  </div>
  </div>
  </div>
  
  
  
  <!-- Footer -->
  <footer id="availability"
  ng-include src="'../MoonLightTravel.github.io/html/footer.html'">
  </footer>
  
 