<!--Banner, menü-->
<div ng-include src="'../MoonLightTravel.github.io/html/navigate.html'"></div>
<div class="container">
  <div class="row mt-5 text-center">
    <h1>Wellnes</h1>
  </div>
  <div class="row mt-5">
    <!--Képgaléria-->
    <div class="col-xl-8 col-md-10 col-sm-12 mt-3">
      <img src="../MoonLightTravel.github.io/img/blog/wellnes2.jpg" alt="Blog" title="Blog" id="nagy_kep"
        class="img-fluid clearfix">
      <div class="col-xl-9 col-md-10 col-sm-12 mt-2">
        <img src="../MoonLightTravel.github.io/img/blog/wellnes3.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/wellnes4.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/wellness5.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
        <img src="../MoonLightTravel.github.io/img/blog/wellnes2.jpg" alt="Blog" title="Blog" width="138px"
          ng-click="nagyit($event.target)" class="mt-1 mx-1">
      </div>
    </div>
    <!--Leírás-->
    <div class="col-12 col-md-4 mt-2">
      <p><i>Mi is a wellness és miért jó?</i></p>
      <p>A wellness a jól-lét állapota, a testi-lelki-szellemi egyensúly megléte és fenntartása. Egészségtudatos
        programok és módszerek összessége, annak érdekében, hogy jól érezzük magunkat a bőrünkben. </p>
      <p>Szolgáltatások: </p>
      <ul>
        <li>Sky wellness </li>
        <li>Sódézsa </li>
        <li>Jégkamra</li>
        <li>hangfürdő</li>
        <li>Lebegőkabin</li>
        <li>Szauna</li>
      </ul>
    </div>
  </div>
  <div id="wellneskartya">
    <div class="cards">
      <div class="card">
        <img src="../MoonLightTravel.github.io/img/blog/aromaterapia.jpg" alt="Blog" title="Blog">
        <p class="card-desc">Az aromaterápia a legáltalánosabb meghatározás szerint az illóolajos növények, a belőlük
          kinyert kivonatok és az illóolajok használatán alapuló gyógyeljárások összessége.</p>
      </div>
      <div class="card">
        <img src="../MoonLightTravel.github.io/img/blog/soterapia.jpg" alt="Blog" title="Blog">
        <p class="card-desc">A terápián résztvevők belélegzik a levegő molekuláihoz tapadt parányi sószemcséket és ezek
          eljutnak a legkisebb hörgőcskékig is. Ott a nyálkahártyához érve feloldódnak és kifejtik gyulladáscsökkentő
          hatásukat. A száraz sóterápia legfontosabb előnye a nedves sóterápiával szemben, hogy a sórészecskék nem
          telítődnek nedvességgel, emiatt nem akadnak el a felső légutak nyálkahártyáin és eljutnak a tüdő legtávolabbi
          részéhez, a hörgőkig.</p>
      </div>
      <div class="card">
        <img src="../MoonLightTravel.github.io/img/blog/kovesterapia.jpg" alt="Blog" title="Blog">
        <p class="card-desc">A forró kövekkel végzett masszázs egy különleges eljárás, mely a vér- és nyirokrendszer
          aktivizálása mellett képes a tudatot mélyen lenyugtatni, így már masszázs közben teljes pihenést biztosít. A
          ritmikusan ismétlődő lassú, körkörös és simító mozdulatok a meleg kő hatásával egyesülve rendkívül lazítóak.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer id="availability" ng-include src="'../MoonLightTravel.github.io/html/footer.html'">
</footer>